---
// /dndgenerator.astro
---

<html>
<head>
  <title>DND Generator</title>
  <style>
    body { margin: 0; padding: 0; }
    iframe { width: 100%; height: 100vh; border: none; }
  </style>
</head>
<body>
  <iframe src="https://bagofholding.robertmaiorana.workers.dev/"></iframe>
</body>
</html>
