---
import Layout from '../layouts/BlogPost.astro';
---
<Layout>
  <style>
    .iframe-container {
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
    }
    .iframe-container iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  </style>
  
  <div class="iframe-container">
    <iframe src="https://bagofholding.robertmaiorana.workers.dev/"></iframe>
  </div>
</Layout>
