---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, Dungeon and Dragoners!</h1>
			<p>
				Welcome to the official DND Website for our Fellow plebians.
			</p>
			<p>
				This website is under construction currently and there is many features that I would like to build out at a later time.
			</p>
			<p>Here are the few ideas I have:</p>
			<ul>
				<li>A dnd Item Generator that can make magical items!<a href="https://dndexperience.com/dndgenerator">DND Generator</a></li>
				<li>A foundry World Portal<a href="https://dndexperience.com/foundry">DND World</a></li>
				<li>A Druid Sheet for all those Circle of the Moon Druids<a href="https://dndexperience.com/druidsheets">Druid Sheets</a></li>
				<li>Damaging Spell Lists with upcast Scaling<a href="https://dndexperience.com/spellsgoboom">Spells Go Boom</a></li>
				<li>DND Map<a href="https://dndexperience.com/maps">DND Maps</a></li>
			</ul>
			<p>
				Stay Tuned!
			</p>
		</main>
		<Footer />
	</body>
</html>
