---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, Dungeon and Dragoners!</h1>
			<p>
				Welcome to the official DND Website for our Fellow plebians.
			</p>
			<p>
				This website is under construction currently and there is many features that I would like to build out at a later time.
			</p>
			<p>Here are the few ideas I have:</p>
			<ul>
				<li>A dnd Item Generator that can make magical items!<code>src/pages/dndgenerator.astro</code></li>
				<li>A foundry World Portal<code>src/pages/foundry.astro</code></li>
				<li>A Druid Sheet for all those Circle of the Moon Druids<code>src/pages/druidsheets.astro</code></li>
				<li>Damaging Spell Lists with upcast Scaling<code>src/pages/spellsgoboom/</code></li>
				<li>DND Map<code>src/pages/maps.astro</code></li>
			</ul>
			<p>
				Stay Tuned!
			</p>
		</main>
		<Footer />
	</body>
</html>
